<h1>お気に入り一覧</h1>
<table>
  <tr>
    <th>Photo by</th>
    <th>Content</th>
    <th>Menu</th>
  </tr>
<% @favorite.each do |favorite| %>
  <tr>
    <td><%= favorite.user.name %></td>
    <td><%= image_tag(favorite.picture.image.url) %></td>
    <td><%= favorite.picture.content %></td>
    <td><%= link_to "read more", picture_path(favorite.picture.id) %></td>
    <td><%= link_to "戻る", pictures_path %></td>
  </tr>
<% end %>