<div class="main pictures-new">
  <div class="container">
    <%= form_with(model: @picture, local: true) do |form| %>
      <div class="form">
        <div class="form-body">
          <% @picture.errors.full_messages.each do |message| %>
            <div class="form-error">
              <%= message %>
            </div>
          <% end %>
          <div class="field">
            <%= form.label :content %>
            <%= form.text_area :content %>
          </div>
          <div class="field">
            <%= form.label :image %>
            <%= form.file_field :image %>
          </div>

          <%= form.submit "投稿" %>
  　　   </div>
      </div>
    <% end %>
  </div>
</div>